body {
    -webkit-overflow-scrolling: touch;
}

#main {
    background-color: #212529;
}

#projectHeader {
    height: 10vh;
}

#taskList{
    height: 75vh;
}

#taskList #listColumn {
    overflow-y: scroll;
    overflow-scrolling: touch;
}

#taskCreatorContainer{
    height: 15vh;
}